.filter-my{}
.filter-my>ul{list-style: none;}
.filter-my>ul>li{float:left;margin: 0px 5px 20px 0px;}
.filter-my>ul>li>a{background: #607D8B;padding: 8px 18px;color: #fff;font-size: 16px;}
.filter-my>ul>li>a:hover{color: #0BCCD0;}
