.ui-datepicker { font-size:9pt !important}

body{
	background-color:#f7f7f7;
}

#contactform{
	width:600px;
	margin:auto;
	padding:30px;
	border:1px solid #EEE;
	background-color:#FFF;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.element{
	margin-right:10px;
	margin-bottom:6px;
	padding:2px 2px 4px 4px;
}

.label{
	display:block;
}

.captcha_img{
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.submit{
	cursor:pointer;
	padding:8px 4px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.option-container input[type=radio], .option-container input[type=checkbox]{
	margin-right:6px;
}

.required{
	color:#990000;
	margin-right:6px;
	font-family:Arial, Helvetica, sans-serif;
}



/***** VALIDATION & ERROR MESSAGES *****/

#validation{
	display:none;
	background:url('../img/loading.gif') no-repeat 0 1px;
	padding-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

.errormessage, .validationmessage{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.errormessage{
	display:none;
	margin:4px 0;
	width:260px;
}

.validationmessage{
	width:360px;
	margin-bottom:16px;
	padding:10px 6px;
}


.validationmessage{background-color:#339900; color:#fff;}

.errormessage{background-color:#cc0000; color:#fff; padding:4px 6px;}

